{{> navbar}}

<h2>Login</h2>
<div id="login-card">

    <form id="local-login" action="/users/login" method="post">
        <label for="email">
            <p>Email:</p>
            <input type="email" name="email" placeholder="johndoe@example.com" required>
        </label>
        <label for="password">
            <p>Password:</p>
            <input type="password" name="password" required>
        </label>
        <button id="btn-login" type="submit">Login!</button>
    </form>
    <div id="login-oauth">
        <button id="btn-login-github" onclick="document.location.href='/users/github'"> 
            Login with GitHub!
        </button>
        <button id="btn-login-google" onclick="document.location.href='/users/google'"> 
            Login with Google!
        </button>
    </div>

    <div id="login-footer">
        <p>Are you not registered yet?</p>
        <a href="/users/register">Register Now!</a>
    </div>

</div>