{{> navbar}}

<div id="alert-login" class="hidden">
    <p>

    </p>
</div>

<h2>Reset Password</h2>
<div id="reset-password-card">

        <label for="password">
            <p>Password:</p>
            <input type="password" name="password" required>
        </label>
        <label for="repeat-password">
            <p>Repeat Password:</p>
            <input type="password" name="repeat-password" required>
        </label>
        <button id="btn-reset-password">Reset Password!</button>

</div>