<div id="navbar" style="border-bottom: 1px solid #367; background-color: #367; align-items: center; justify-content: space-between; display: flex; margin:0; padding: 0px 20px;">
    <p style="font-size: 2rem; font-weight: 800; color: #fafafa;">Coderhouse E/commerce</p>
    {{#if user}}
        <div>
            {{#eq user.role 'premium'}}
                <button class="btn-navbar" onclick="location.href='/api/products/dashboard'">Products Dashboard</button>
            {{/eq}}
            {{#eq user.role 'admin'}}
                <button class="btn-navbar" onclick="location.href='/api/products/dashboard'">Products Dashboard</button>
            {{/eq}}
            <button class="btn-navbar" onclick="location.href='/api/products'">Products</button>
            <button class="btn-navbar" onclick="location.href='/users/profile'">Profile</button>
            <button id="btn-logout" class="btn-navbar" >Logout!</button>
        </div>
    {{else}}
        <div>
            <button class="btn-navbar" onclick="location.href='/users/login'">Login</button>
            <button class="btn-navbar" onclick="location.href='/users/register'">Register</button>
        </div>
    {{/if}}
</div>